* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

header {
  font-size: 20px;
  border: 2px solid black;
  padding-bottom: 25px;
}

.container {
  background-color: darkgrey;
  height: 89.2vh;
}

.item {
  font: 20px;
  border: 2px solid black;
  background-color: white;
}

footer {
  font-size: 20px;
  border: 2px solid black;
  padding-bottom: 25px;
}
